.card-chronos{
    padding: 1% 1%;
    width: 30%;
    height: auto;
    font-family: 'Lato', sans-serif;
    position: relative;
    max-width: 320px;
    min-width: 270px;
}

.grid-chronos{
    display: grid;
}

.grid-item-chronos{
    display: inline-grid;
}

.img img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.btn-chronos{
    display: inline;
}

.under-test{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.title{
    text-overflow: ellipsis;
}

.container-chronos{
    display: flex;
}

.meta{
    bottom: 0px;
    left: 0px;
    margin-top: 42px;
    padding: 2px 2px;
    flex: 1;
}

.time{
    font-size: 42px;
    right: 0;
}

.time h2{
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 2px 2px;
}
